<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Pen+Script" rel="stylesheet">

    <div class="container-fluid fixed-top">
      <div [@slideInOut]="animationState" class="row">
        <div class="col-sm-12 text-center">
            <a class="navbar-brand banner" routerLink="/">PooKle</a>
           <!-- <a *ngIf="is_auth" class="navbar-brand banner" routerLink="/timeline">PooKle</a>-->
            
        </div>
      </div>
      <div class="row text-center margin-top">
        <div class="col-sm-12">
            <input type="text" class="searchBar">
            <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>
      <div class="row text-center menu-bar">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-6">
            <a class="menu" routerLink="/timeline"><i class="fas fa-book"></i>&nbsp;타임라인</a>
            <a class="menu" routerLink="/board"><i class="fas fa-edit"></i>&nbsp;게시판</a>
            <a *ngIf="!is_auth" class="menu" routerLink="/user/sign-in"><i class="fas fa-user"></i>&nbsp;로그인</a>
            <a *ngIf="is_auth" class="menu" routerLink="/user/my-page"><i class="fas fa-cog"></i>&nbsp;내정보</a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

