<div>
  <h1>우리학교는?</h1>
  <p>University board project!</p>
  <div class="content">
    UNI 프로젝트는 대학교 홈페이지들의 <br>
    여러 유익한 정보를 크롤링으로<br>
    수집하고 필터링하여 정돈된 정보를 <br>
    사용자들에게 제공하고 있습니다.
  </div>
</div>
<div class="container" >
  <h2>회원 가입</h2>
  
    <form  [formGroup]="signUpForm" (ngSubmit)="registerUser()">
        <div class="form-group">
          <span>계정 : </span> 
          <input type="text" width="80px" class="form-control" formControlName="id">
        </div>
        <div class="form-group">
          <span>비밀 번호 : </span> 
          <input type="text" width="80px" class="form-control" formControlName="pw">
        </div>
        <div class="form-group">
          <span>비밀번호 확인 : </span> 
          <input type="text" width="80px" class="form-control" formControlName="pwc">
        </div>
        <div class="form-group">
          <span>이메일 : </span> 
          <input type="text" width="80px" class="form-control" formControlName="email"> 
          @ 
          <select>
            <option>naver.com</option>
            <option>gmail.com</option>
        </select>
        </div>
        <button type="submit" class="btn btn-success">가입</button>
      
    </form>
</div>
<div>
  <p>계정이 있으신가요?</p>
  <a routerLink="/user/sign-in">시작하기</a>

</div>
