<div class="container text-center">

  <form [formGroup]="pwCheckForm" (ngSubmit)="pw_check()">
    <div *ngIf="!check" class="passwd-check-box">
      <p>본인확인을 위해 기존의 암호를 입력해주세요.</p>
      <input type="text" formControlName="pw" width="80px">
      <br>
      <button class="ok_btn">확인</button>
    </div>
  </form>


  <form [formGroup]="pwChangeForm" (ngSubmit)="pw_change()">
    <div *ngIf="check" class="passwd-change-box">
      <p>새로운 비밀번호를 입력해주세요</p>
      <input type="text" formControlName="pw" width="80px">
      <br><br>
      <p>한 번 더!</p>
      <input type="text" formControlName="pwc" width="80px">
      <br>
      <button class="ok_btn">확인</button>
    </div>
  </form>

</div>