.passwd-check-box{
    width:50%;
    height:350px;
    padding-top:130px;
    margin:0 auto;
    margin-top:50px;
    border:1px solid #BBBBBB;
    border-radius: 5px;
    vertical-align: center;
}
.passwd-change-box{
    width:50%;
    height:350px;
    padding-top:80px;
    margin:0 auto;
    margin-top:50px;
    border:1px solid #BBBBBB;
    border-radius: 5px;
    vertical-align: center;
}
.ok_btn{
    margin-top:20px;
    padding:10px;
    background-color:#212529;
    color:#fed136;
    border:0px;
    border-radius: 5px;
    font-family: 'Do Hyeon', sans-serif;
    font-size:20px;
}