.container{
    font-family: 'Jua', sans-serif;
    width:90%;
    height:350px;
    padding:20px;
    margin:50px 40px 0px 10px;
    background-color:white;
    border:1px solid #BBBBBB;
    border-radius: 5px;
}
.fav-box{
    width:90%;
    height:200px;
    margin:0 auto;
    padding:10px;
    border:1px solid #AAAAAA;
    overflow-y: auto;
}
.tag{
    padding:5px;
    margin-right:5px;
    margin-bottom: 6px;
    border:0px;
    border-radius: 5px;
    background-color:#DDDDDD;
}
.small-font{
    font-size:15px;
    color:#999999;
}

