<!--<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="find-box d-flex align-items-center justify-content-center">
      <div class="">
        <h2 style="text-align:center;font-weight:bold">암호 찾기</h2>
        <br>
        <p class="align-center">계정을 입력해주세요.</p>
        <p class="align-center"><input type="text"></p>
        <p class="align-center"><input class="btn btn-secondary" (click)="move()" type="submit" value="확인"></p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!first" class="container d-flex justify-content-center">
    <div class="row">
      <div class="find-box d-flex align-items-center justify-content-center">
        <div class="">
          <h2 style="text-align:center;font-weight:bold">암호 찾기</h2>
          <br>
          <p class="align-center">나의 학과는?</p>
          <p class="align-center"><input type="text"></p>
          <p class="align-center"><input class="btn btn-secondary" type="submit" value="확인"></p>
        </div>
      </div>
    </div>
  </div>-->
  
<div class="parent" [@slide]="activePane">
    <div><ng-content select="[leftPane]"></ng-content></div>
    <div><ng-content select="[centerPane]"></ng-content></div>
    <div><ng-content select="[rightPane]"></ng-content></div>
    <div><ng-content select="[finishPane]"></ng-content></div>
  </div>