<div class="container text-center">
  <h2>나의 정보</h2>
  <div class="row text-center">
    <div class="col-6 menu-info text-right">
        <button class="menu"><i class="fas fa-lock"></i></button><br>
        <span class="small-font">암호를 변경합니다.</span>
    </div>
    <div class="col-6 menu-info text-left">
        <button class="menu"><i class="far fa-flushed"></i></button><br>
        <span class="small-font">별명을 설정합니다.</span>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-6 menu-info text-right">
        <button class="menu"><i class="fas fa-star"></i></button>
        <span class="small-font">암호를 변경합니다.</span>
    </div>
    <div class="col-6 menu-info text-left">
        <button class="menu"><i class="fas fa-tags"></i></button>
        <span class="small-font">암호를 변경합니다.</span>
    </div>
  </div>
</div>